.container {
  padding: 0;
}

.card-row {
  margin-bottom: 16px;
}

.card {
  height: 100%;
}

.card-title {
  margin-bottom: 8px;
  color: rgba(0, 0, 0, 45%);
  font-size: 14px;
}

.card-value {
  color: rgba(0, 0, 0, 85%);
  font-weight: 600;
  font-size: 24px;
  word-break: break-all;
}

.panel {
  margin-bottom: 16px;
}
